.button
{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 42px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 20px;
}
#display 
{
 	display: block;
 	margin: 15px auto;
 	height: 42px;
 	width: 185px;
	padding: 0px 10px;
 	border-radius: 8px;
 	border-top: 2px solid;
 	border-right: 2px solid;
 	border-bottom: 2px solid;
 	border-left: 2px solid;
 	font-size: 28px;
 	text-align: center;
 	font-weight: 400;
}
